[submodule "libs/glm"]
	path = libs/glm
	url = git@github.com:g-truc/glm.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/tiny_objloader"]
	path = libs/tiny_objloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
